.status-10-color { background-color: #fcbdbd; }
.status-20-color { background-color: #e3b7eb; }
.status-30-color { background-color: #ffcd85; }
.status-40-color { background-color: #fff494; }
.status-50-color { background-color: #f7e4ce; }
.status-50-percentage { width: 100%; }
.status-80-color { background-color: #d2f5b0; }
.status-90-color { background-color: #c9ccc4; }
.status-legend-width { width: 14%; }
